name: CD

on:
  push:
    branches: 
      - main

jobs:
  build-push: 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Generate version tag
        id: version
        run: echo "TAG=$(date +'%Y%m%d%H%M%S')-${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: . 
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/mooremarket:${{ steps.version.outputs.TAG }}

      - name: Save version
        run: echo "${{ steps.version.outputs.TAG }}" >> $GITHUB_STEP_SUMMARY
